body {
  font-family: var(--primary-fonts);
  color: var(--adress-text-color);
  background-color: var(--primary-wite-color);
}

:root {
  --primary-wite-color: #ffffff;
  --classic-background-color: #f4f4fd;
  --adress-text-color: #434455;
  --button-color: #4d5ae5;
  --nav-log-foot-color: #2e2f42;
  --brand-color: #404bbf;
  --primary-fonts: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --cornflower: #e7e9fc;
  --hover-focus-icons: #31d0aa;
  --light-slate: #8e8f99;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header index*/

.header {
  border-bottom: 1px solid var(--cornflower);
}

.container-header {
  display: flex;
}

.nav-header {
  display: flex;
  align-items: center;
}

.link-web {
  color: var(--button-color);
  font-family: var(--title-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.link-studio {
  color: var(--nav-log-foot-color);
}

.nav-list {
  display: flex;
  gap: 40px;
}

.link-nav {
  color: var(--nav-log-foot-color);
  font-family: var(--primary-fonts);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.32px;
  padding: 24px 0;
  display: block;
}

.link-nav:hover,
.link-nav:focus {
  color: var(--brand-color);
}

.address {
  font-style: normal;
  margin-left: auto;
  display: inline-flex;
}

.address-list {
  display: flex;
  gap: 40px;
}

.link-address {
  color: var(--adress-text-color);
  font-family: var(--primary-fonts);
  font-size: 16px;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.32px;
  display: block;
  padding: 24px 0;
}

.link-address:hover,
.link-address:focus {
  color: var(--brand-color);
}

.list {
  list-style: none;
}

/*секція 1*/

.section-one {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1440px;
}

.title-one {
  color: var(--primary-wite-color);
  text-align: center;
  /* Header 1 */
  font-family: var(--primary-fonts);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  /* 107.143% */
  letter-spacing: 1.12px;
  max-width: 496px;
  margin-bottom: 48px;
}

.btn-secton-one {
  color: var(--primary-wite-color);
  background-color: var(--button-color);
  /* Button Text */
  font-family: var(--primary-fonts);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-secton-one:hover,
.btn-secton-one:focus {
  background-color: var(--brand-color);
}

/*сексія 2*/

.section-two {
  padding: 120px 0;
}

.title-three-section-two {
  margin-bottom: 8px;
}

.section-two-list {
  display: flex;
  gap: 24px;
}

.section-two-list-element {
  width: calc((100% - 72px) / 4);
}

.title-three {
  color: var(--nav-log-foot-color);
  font-family: var(--primary-fonts);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
}

.main-content {
  color: var(--adress-text-color);
  font-family: var(--primary-fonts);
  font-size: 16px;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.32px;
}

.section-two,
.section-three {
  background-color: var(--primary-wite-color);
}

.section-two-container-icon {
  width: 246px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: var(--classic-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

/*секція 3*/

.section-three {
  padding-bottom: 120px;
}

.title-two {
  color: var(--nav-log-foot-color);
  text-align: center;
  font-family: var(--primary-fonts);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.title-two-section-three {
  margin-bottom: 72px;
}

.list-section-three {
  display: flex;
  gap: 24px;
}

.list-section-three-element {
  width: calc((100% - 48px) / 3);
}

/*секція 4*/

.section-four {
  background-color: var(--classic-background-color);
  padding: 120px 0;
}

.title-two-section-four {
  margin-bottom: 72px;
}

.list-section-four {
  gap: 24px;
  display: flex;
}

.list-section-four-element {
  background-color: var(--primary-wite-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.div-element-section-four {
  padding: 32px 0;
}

.title-three-section-four {
  text-align: center;
  margin-bottom: 8px;
}

.paragraph-section-four {
  text-align: center;
  margin-bottom: 8px;
}

.list-section-four-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.list-section-four-icons-elements {
  display: flex;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  border-radius: 50%;
}

.icon-section-four {
  fill: var(--classic-background-color);
}

.list-section-four-icons-elements:hover,
.list-section-four-icons-elements:focus {
  background-color: var(--hover-focus-icons);
}

/*секція 5*/

.section-five {
  padding: 120px 0;
}

.title-two-section-five {
}

.icon-section-five {
  fill: var(--light-slate);
}

.list-section-five-icons-elements {
  display: flex;
  width: 168px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.list-section-five {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
  margin-bottom: 120px;
}

.icon-section-five:hover,
.icon-section-five:focus {
  fill: var(--brand-color);
}

.list-section-five-icons-elements:hover,
.list-section-five-icons-elements:focus {
  border: 1px solid var(--brand-color);
}

/*footer*/

.footer {
  background-color: var(--nav-log-foot-color);
  padding: 100px 0;
}

.link-web-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.link-studio-footer {
  color: var(--classic-background-color);
  font-family: var(--title-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-content {
  color: var(--classic-background-color);
  font-family: var(--primary-fonts);
  font-size: 16px;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.32px;
  width: 264px;
}

.container-footer-two {
  margin-left: auto;
  display: inline-flex;
}

.footer-content-two {
  color: var(--white, #fff);

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.list-section-footer-icons {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
}

.list-footer-icons-elements {
  display: flex;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  border-radius: 50%;
}

.icon-footer {
  fill: var(--classic-background-color);
}

.list-footer-icons-elements:hover,
.list-footer-icons-elements:focus {
  background-color: var(--hover-focus-icons);
}

/* portfolio */

.main-portfolio {
  background-color: var(--primary-wite-color);
  padding-top: 96px;
  padding-bottom: 120px;
}

.list-main-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn-portfolio {
  background: var(--classic-background-color);
  color: var(--button-color);
  /* Button Text */
  font-family: var(--primary-fonts);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: var(--brand-color);
  color: var(--primary-wite-color);
  border: 1px solid transparent;
}

.list-second-main-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.list-second-main-portfolio-element {
  width: calc((100% - 48px) / 3);
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

.div-element-main-portfolio {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.title-three-main-portfolio {
  margin-bottom: 8px;
}

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  height: 584px;
  border-radius: 4px;
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position:  absolute;
  top: 24px;
  right: 24px;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 50%;
}

.modal-button-icon {
 fill: var(--nav-log-foot-color); 
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--brand-color);
}

.modal-button-icon:hover,
.modal-button-icon:focus {
  fill: var(--primary-wite-color)
}
